In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


sns.set()
%matplotlib inline
sns.set(style='darkgrid')

In [7]:
df = pd.read_csv('data\pokemon.csv')

In [8]:
df.head()

         Name   hp  attack  defense  sp.atk  sp.def  speed
0     Victini  100     100      100     100     100    100
1   Bulbasaur   45      45       45      45      45     45
2     Ivysaur   60      60       60      60      60     60
3    Venusaur   80      80       80      80      80     80
4  Charmander   65      65       65      65      65     65

In [6]:
df.describe()

               hp      attack     defense      sp.atk      sp.def       speed
count  809.000000  809.000000  809.000000  809.000000  809.000000  809.000000
mean    65.677379   65.677379   65.677379   65.677379   65.677379   65.677379
std     27.661515   27.661515   27.661515   27.661515   27.661515   27.661515
min      5.000000    5.000000    5.000000    5.000000    5.000000    5.000000
25%     45.000000   45.000000   45.000000   45.000000   45.000000   45.000000
50%     64.000000   64.000000   64.000000   64.000000   64.000000   64.000000
75%     85.000000   85.000000   85.000000   85.000000   85.000000   85.000000
max    160.000000  160.000000  160.000000  160.000000  160.000000  160.000000